.repair-devices-container {
  min-height: 202px;
}
.repair-brands-container {
  min-height: 120px;
}
.price-list-container {
  min-height: 250px;
}
.swiper-container {
  @media only screen and (min-width: $screen-tablet) {
    display: flex;
    width: 768px;
    margin-right: auto;
    margin-left: auto;
  }
  @media only screen and (min-width: $screen-desktop) {
    width: 1120px;
  }
}
.swiper-wrapper {
  @media only screen and (min-width: $screen-tablet) {
    flex-wrap: wrap;
    width: 768px;
  }
  @media only screen and (min-width: $screen-desktop) {
    width: 1120px;
  }
}
.swiper-pagination-bullet-active {
  background-color: #949499 !important;
}
