@charset "UTF-8";
/*colors*/
/*windowsSize*/
/*font-family*/
/*font-size*/
/*line-height*/
@font-face {
  font-family: TTLakes;
  src: url(./fonts/TTLakes-Regular.ttf); }

@font-face {
  font-family: TTLakes-Bold;
  src: url(./fonts/TTLakes-Bold.ttf); }

@font-face {
  font-family: TTLakes-Light;
  src: url(./fonts/TTLakes-Light.ttf); }

* {
  margin: 0;
  padding: 0; }

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

.header {
  display: flex;
  justify-content: space-between; }
  @media screen and (min-width: 1440px) {
    .header {
      display: none; } }

.header-wrapper {
  display: flex;
  background: white;
  align-items: center;
  flex-basis: 100%;
  padding-bottom: 16px;
  padding-top: 16px; }
  @media only screen and (min-width: 768px) {
    .header-wrapper {
      justify-content: space-between; } }

.body {
  font-family: TTLakes, sans-serif;
  background-color: #F8F8F8;
  overflow: scroll;
  height: 100%; }

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  height: 100%; }
  @media only screen and (min-width: 1440px) {
    .wrapper {
      flex-direction: row; } }

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%; }
  @media only screen and (min-width: 1440px) {
    .container {
      background-color: #F8F8F8;
      width: 1120px; } }
  .container__blur {
    background-color: white;
    opacity: 1; }

.header-menu {
  display: flex;
  align-items: center;
  flex-basis: 40%;
  flex-grow: 0; }
  @media only screen and (min-width: 768px) {
    .header-menu {
      flex-basis: 23%; } }
  .header-menu::after {
    content: "";
    border-left: 2px solid #EAEAEA;
    height: 35px;
    margin-left: 20px; }
    @media only screen and (min-width: 768px) {
      .header-menu::after {
        display: none; } }
  .header-menu__btn-wrapper {
    margin-right: 16px;
    margin-left: 16px;
    position: relative; }
    @media only screen and (min-width: 768px) {
      .header-menu__btn-wrapper::after {
        position: absolute;
        content: "";
        border-left: 2px solid #EAEAEA;
        height: 35px;
        top: 5px;
        left: 60px; } }
  @media only screen and (min-width: 768px) {
    .header-menu .logo {
      padding-left: 24px;
      padding-right: 16px; } }

.header-btn {
  width: 40px;
  height: 40px;
  border: 0;
  border-radius: 50%;
  outline: none;
  cursor: pointer; }
  .header-btn:hover {
    transform: scale(1.2);
    transition-property: transform;
    transition-duration: 0.5s; }
  .header-btn:focus {
    box-shadow: 0 0 0 3px gray; }

.btn_theme {
  background-color: #FF3E79;
  background-repeat: no-repeat;
  background-position: 10px 10px; }

.header-menu__btn_theme-menu {
  background-image: url(./static/burger.svg);
  background-position: 10px 12px; }

.lists {
  display: flex;
  flex-basis: 60%;
  list-style-type: none; }
  @media only screen and (min-width: 768px) {
    .lists {
      flex-basis: 40%;
      justify-content: flex-end; } }

.lists__tablet-list {
  margin-right: 20px; }

.tablet-list {
  display: none;
  list-style-type: none; }
  @media only screen and (min-width: 768px) {
    .tablet-list {
      display: flex;
      flex-basis: 30%; } }
  .tablet-list__item {
    padding-right: 8px;
    padding-left: 8px; }
  .tablet-list .tablet-list__btn_theme-call {
    background-image: url(./static/call.svg); }
  .tablet-list .tablet-list__btn_theme-chat {
    background-image: url(./static/chat.svg); }
  .tablet-list .tablet-list__btn_theme-profile {
    background-image: url(./static/profile.svg); }

@media only screen and (min-width: 768px) {
  .tablet-list__item:last-child {
    position: relative; }
  .tablet-list__item:last-child::after {
    position: absolute;
    content: "";
    border-left: 2px solid #EAEAEA;
    height: 35px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 3px; } }

.aside-list {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  list-style-type: none;
  justify-content: flex-end; }
  @media only screen and (min-width: 768px) {
    .aside-list {
      flex-basis: 25%; } }
  .aside-list .aside-list__btn_theme-repair {
    background-image: url(./static/repair.svg); }
  .aside-list .aside-list__btn_theme-check {
    background-image: url(./static/checkstatus.svg);
    background-position: 12px 10px; }
  .aside-list .aside-list__item:nth-child(1) {
    margin-left: 16px;
    margin-right: 16px; }
  .aside-list .aside-list__item:nth-child(2) {
    margin-right: 16px; }

.main {
  display: flex;
  flex-direction: column;
  background: #F8F8F8;
  justify-content: space-between;
  min-height: 100%; }

.title-str {
  display: flex;
  justify-content: space-between; }
  .title-str__title {
    margin: 24px 16px 24px 16px;
    position: relative;
    font-family: TTLakes-Bold, sans-serif;
    flex-grow: 1; }
    .title-str__title::before {
      content: "";
      position: absolute;
      height: 40px;
      width: 4px;
      left: -17px;
      background-color: #41F6D7;
      border: 1px solid #41F6D7;
      border-top-right-radius: 22%;
      border-bottom-right-radius: 22%; }

.desktop-menu {
  flex-basis: 35%;
  display: none; }
  @media only screen and (min-width: 1440px) {
    .desktop-menu {
      display: flex;
      flex-basis: 40%;
      justify-content: flex-end; } }
  .desktop-menu .option {
    display: flex;
    align-items: center;
    margin-right: 32px; }
    @media only screen and (min-width: 1440px) {
      .desktop-menu .option {
        display: flex;
        align-items: center; } }
    .desktop-menu .option__text {
      margin-right: 8px;
      font-weight: 900;
      color: black; }
      @media only screen and (min-width: 1440px) {
        .desktop-menu .option__text {
          margin-right: 8px; } }
    .desktop-menu .option__btn_theme-repair {
      background-image: url(./static/repair.svg);
      background-color: #FF3E79;
      background-repeat: no-repeat;
      background-position: 10px 10px; }
    .desktop-menu .option__btn_theme-check {
      background-image: url(./static/checkstatus.svg);
      background-color: #FF3E79;
      background-repeat: no-repeat;
      background-position: 12px 10px; }

@media only screen and (min-width: 1440px) {
  .tool {
    align-self: center; } }

.scroll-menu-container {
  display: flex;
  position: relative; }
  .scroll-menu-container .blur {
    position: absolute;
    height: 40px;
    width: 24px;
    -webkit-filter: blur(1px);
            filter: blur(1px);
    right: 0;
    background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%); }
    @media only screen and (min-width: 1440px) {
      .scroll-menu-container .blur {
        display: none; } }

.scroll-menu {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  overflow-x: auto;
  flex-grow: 1;
  list-style-type: none; }
  @media only screen and (min-width: 1440px) {
    .scroll-menu {
      flex-wrap: wrap; } }
  .scroll-menu .scroll-menu__item {
    flex-shrink: 0;
    margin-left: 16px;
    padding: 8px 20px 8px 20px; }
    @media only screen and (min-width: 1440px) {
      .scroll-menu .scroll-menu__item {
        flex-shrink: 1;
        margin-left: 0;
        padding: 8px 20px 8px 20px; } }
    .scroll-menu .scroll-menu__item:first-child, .scroll-menu .scroll-menu__item:nth-child(5) {
      display: none; }
      @media only screen and (min-width: 1440px) {
        .scroll-menu .scroll-menu__item:first-child, .scroll-menu .scroll-menu__item:nth-child(5) {
          display: list-item; } }

.scroll-menu__link {
  text-decoration: none;
  color: #7E7E82; }

.scroll-menu__item:first-child {
  border: 1px solid #41F6D7;
  border-radius: 3px;
  background-color: white;
  padding: 8px 20px 8px 20px; }
  @media only screen and (min-width: 1440px) {
    .scroll-menu__item:first-child {
      margin-left: 28px; } }

.scroll-menu__item:nth-child(2) {
  border: 1px solid #41F6D7;
  border-radius: 3px;
  background-color: white;
  padding: 8px 20px 8px 20px; }
  @media only screen and (min-width: 1440px) {
    .scroll-menu__item:nth-child(2) {
      border: none;
      background-color: rgba(255, 255, 255, 0); } }

@media only screen and (min-width: 1440px) {
  .scroll-menu__item:last-child {
    margin-top: 10px;
    margin-left: 28px;
    flex-shrink: 0; }
  .scroll-menu__item:nth-child(3) {
    display: none; } }

.content {
  display: flex;
  flex-direction: column; }
  @media only screen and (min-width: 768px) {
    .content {
      flex-direction: row; } }
  @media only screen and (min-width: 1440px) {
    .content {
      justify-content: center;
      width: 1120px; } }

.info {
  flex-basis: 100%;
  margin: 24px 16px 24px 20px; }
  .info__text {
    font-size: 14px;
    line-height: 18px; }
  @media only screen and (min-width: 768px) {
    .info::after {
      content: "Мы успешно работаем с 1992 года и заслужили репутацию надежного партнера";
      display: block;
      margin-top: 20px;
      font-size: 14px;
      line-height: 18px; } }
  @media only screen and (min-width: 1440px) {
    .info::after {
      content: " Мы успешно работаем с 1992 года и заслужили репутацию надежного партнера, что подтверждает большое количество постоянных клиентов. Мы гордимся тем, что к нам обращаются по рекомендациям и, в свою очередь, советуют нас родным и близким.";
      font-size: 14px;
      line-height: 18px;
      margin-top: 20px;
      display: block; } }

.read-more__btn {
  width: 132px;
  height: 24px;
  border: 0;
  margin-left: 32px;
  background-color: #F8F8F8;
  font-family: TTLakes, sans-serif;
  font-size: 16px;
  font-weight: bold;
  position: relative; }
  .read-more__btn::before {
    content: "";
    display: block;
    background-image: url(./static/icon.svg);
    width: 8px;
    height: 11px;
    position: absolute;
    top: 6px; }

@media only screen and (min-width: 768px) {
  .content-info {
    flex-basis: 50%; } }

.main-image {
  padding: 20px 0 20px 0;
  max-height: 384px;
  max-width: 532px; }
  @media only screen and (min-width: 768px) {
    .main-image {
      flex-basis: 47%; } }
  @media only screen and (min-width: 1440px) {
    .main-image {
      flex-basis: 52%; } }
  .main-image__image {
    width: 100%;
    height: auto;
    object-fit: cover; }
    @media only screen and (min-width: 768px) {
      .main-image__image {
        border-radius: 10px; } }

.body_unscrollable {
  overflow: hidden; }

.aside-menu-container {
  background-color: white;
  min-height: 100%;
  width: 320px; }
  .aside-menu-container .aside-menu {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 100%;
    background-color: white;
    box-shadow: 0 10px 15px 10px gray;
    position: fixed;
    left: 0;
    transform: translateX(-150%);
    transition: transform 1s ease-in-out;
    top: 0;
    overflow: auto;
    z-index: 2; }
    @media screen and (min-width: 1440px) {
      .aside-menu-container .aside-menu {
        display: flex;
        position: static;
        transform: none;
        box-shadow: none;
        flex-direction: column;
        height: 100vh; } }
    .aside-menu-container .aside-menu_show {
      transform: translateX(0); }

.header-aside-menu-wrapper {
  display: flex; }
  .header-aside-menu-wrapper__header-aside-menu {
    padding-bottom: 16px;
    padding-top: 16px;
    margin-bottom: 32px; }
  .header-aside-menu-wrapper .header-aside-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-basis: 100%; }
    .header-aside-menu-wrapper .header-aside-menu__logo {
      position: relative;
      right: 18px; }
    .header-aside-menu-wrapper .header-aside-menu__btn {
      position: relative;
      margin-left: -10px;
      background-color: #FF3E79; }
      @media only screen and (min-width: 1440px) {
        .header-aside-menu-wrapper .header-aside-menu__btn {
          display: none; } }
      .header-aside-menu-wrapper .header-aside-menu__btn::before, .header-aside-menu-wrapper .header-aside-menu__btn::after {
        left: 19px;
        top: 9px;
        position: absolute;
        background-color: white;
        width: 2px;
        height: 22px;
        content: ""; }
      .header-aside-menu-wrapper .header-aside-menu__btn::before {
        transform: rotate(45deg); }
      .header-aside-menu-wrapper .header-aside-menu__btn::after {
        transform: rotate(-45deg); }
      .header-aside-menu-wrapper .header-aside-menu__btn_theme-search {
        background-image: url(./static/search.svg);
        margin-right: -10px; }

.aside-menu-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-basis: 85%;
  margin-left: 30px; }

.aside-menu-lists {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-basis: 70%; }

.aside-options {
  list-style-type: none; }
  .aside-options__item {
    margin-bottom: 32px;
    position: relative; }
    .aside-options__item::before {
      display: none;
      content: "";
      position: absolute;
      height: 32px;
      width: 2px;
      top: -5px;
      left: -30px;
      background-color: #41F6D7;
      border: 1px solid #41F6D7;
      border-top-right-radius: 22%;
      border-bottom-right-radius: 22%; }
    .aside-options__item:hover::before {
      display: block; }
  .aside-options__link {
    font-weight: bold;
    color: black;
    text-decoration: none; }
    .aside-options__link:hover {
      opacity: 0.5; }

.contacts {
  flex-direction: column;
  flex-basis: 25%; }
  .contacts__email {
    font-weight: bold;
    margin-bottom: 16px; }
  .contacts__phone {
    line-height: 32px;
    font-size: 24px;
    font-weight: 900;
    font-family: TTLakes-Bold, sans-serif; }
  .contacts__link {
    text-decoration: none;
    color: black; }
  .contacts .tablet-list {
    display: flex;
    justify-content: flex-start;
    list-style-type: none; }
  .contacts__tablet-list-item {
    margin-right: 16px;
    margin-bottom: 16px; }
    .contacts__tablet-list-item:last-child::after {
      display: none; }

.languages__btn {
  width: 25px;
  height: 25px;
  border: 0;
  text-transform: uppercase;
  font-family: TTLakes-Light, sans-serif;
  font-weight: 900;
  background-color: rgba(255, 255, 255, 0);
  outline: none; }
  .languages__btn:focus {
    box-shadow: 0 0 0 2px gray; }
  .languages__btn:hover {
    opacity: 0.5;
    transform: scale(1.2); }

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #D9FFF5;
  padding-bottom: 19px;
  background-color: #F8F8F8; }
  @media only screen and (min-width: 768px) {
    .footer {
      flex-direction: row;
      align-items: baseline; } }
  .footer__item {
    margin-top: 16px;
    font-size: 14px;
    line-height: 16px;
    color: #7E7E82;
    white-space: pre-line;
    text-align: center; }
    @media only screen and (min-width: 768px) {
      .footer__item {
        margin-top: 32px; } }
    @media only screen and (min-width: 768px) {
      .footer__item_copyright {
        text-align: left; } }
    @media only screen and (min-width: 768px) {
      .footer__item_public-offer {
        white-space: normal;
        flex-wrap: wrap;
        flex-basis: 30%;
        text-align: right; } }

.repair-devices-container {
  min-height: 202px; }

.repair-brands-container {
  min-height: 120px; }

.price-list-container {
  min-height: 250px; }

@media only screen and (min-width: 768px) {
  .swiper-container {
    display: flex;
    width: 768px;
    margin-right: auto;
    margin-left: auto; } }

@media only screen and (min-width: 1440px) {
  .swiper-container {
    width: 1120px; } }

@media only screen and (min-width: 768px) {
  .swiper-wrapper {
    flex-wrap: wrap;
    width: 768px; } }

@media only screen and (min-width: 1440px) {
  .swiper-wrapper {
    width: 1120px; } }

.swiper-pagination-bullet-active {
  background-color: #949499 !important; }

.swiper__title {
  display: flex;
  align-items: center;
  border-top: 1px solid #D9FFF5;
  text-transform: uppercase;
  color: #7E7E82;
  background: linear-gradient(90deg, #F8F8F8 1.39%, #FFFFFF 100%);
  margin-bottom: 16px;
  padding: 16px; }
  @media only screen and (min-width: 768px) {
    .swiper__title {
      padding-left: 24px; } }
  @media only screen and (min-width: 1440px) {
    .swiper__title {
      padding-left: 32px; } }

.repair-devices-container .swiper-slide {
  width: 238px;
  height: 160px;
  background-color: white;
  border-radius: 5px;
  margin-left: 16px; }
  @media only screen and (min-width: 768px) {
    .repair-devices-container .swiper-slide {
      width: 224px;
      margin-left: 24px;
      margin-bottom: 16px; } }
  @media only screen and (min-width: 1440px) {
    .repair-devices-container .swiper-slide {
      width: 240px;
      margin-left: 32px; } }
  @media only screen and (min-width: 768px) {
    .repair-devices-container .swiper-slide:nth-child(4) {
      display: none; } }
  @media only screen and (min-width: 1440px) {
    .repair-devices-container .swiper-slide:nth-child(4) {
      display: block; } }
  .repair-devices-container .swiper-slide:nth-child(7) {
    margin-right: 18px; }
    @media only screen and (min-width: 768px) {
      .repair-devices-container .swiper-slide:nth-child(7) {
        margin-right: 0; } }
  .repair-devices-container .swiper-slide .swiper__item {
    margin-left: 16px;
    margin-top: 16px;
    font-family: TTLakes, sans-serif;
    font-weight: bold; }

@media only screen and (min-width: 768px) {
  .swiper__slide_hidden {
    display: none; } }

.swiper__slide_show {
  display: block; }

.rotate {
  transform: rotate(180deg); }

.swiper-look-more_top {
  margin-bottom: 32px; }

.repair-brands-container .swiper-slide {
  width: 240px;
  height: 72px;
  border-radius: 5px;
  background-color: white;
  margin-left: 16px; }
  @media only screen and (min-width: 768px) {
    .repair-brands-container .swiper-slide {
      width: 224px;
      margin-left: 24px;
      margin-bottom: 16px; } }
  @media only screen and (min-width: 1440px) {
    .repair-brands-container .swiper-slide {
      width: 240px;
      margin-left: 32px; } }
  @media only screen and (min-width: 768px) {
    .repair-brands-container .swiper-slide:nth-child(4) {
      display: none; } }
  @media only screen and (min-width: 1440px) {
    .repair-brands-container .swiper-slide:nth-child(4) {
      display: block; } }
  @media only screen and (min-width: 768px) {
    .repair-brands-container .swiper-slide:nth-child(8) {
      display: none; } }
  @media only screen and (min-width: 1440px) {
    .repair-brands-container .swiper-slide:nth-child(8) {
      display: block; } }
  .repair-brands-container .swiper-slide:nth-child(10) {
    margin-right: 18px; }
    @media only screen and (min-width: 768px) {
      .repair-brands-container .swiper-slide:nth-child(10) {
        margin-right: 0; } }
  .repair-brands-container .swiper-slide .swiper__item {
    margin-left: 4px;
    width: 200px;
    height: 72px; }
    .repair-brands-container .swiper-slide .swiper__item_lenovo {
      background: no-repeat 16px center url(./static/lenovo.svg); }
    .repair-brands-container .swiper-slide .swiper__item_samsung {
      background: no-repeat 16px center url(./static/samsung.svg); }
    .repair-brands-container .swiper-slide .swiper__item_apple {
      background: no-repeat 16px center url(./static/apple.svg); }
    .repair-brands-container .swiper-slide .swiper__item_view-sonic {
      background: no-repeat 16px center url(./static/veiwsonic.svg); }
    .repair-brands-container .swiper-slide .swiper__item_bosch {
      background: no-repeat 16px center url(./static/bosch.svg); }
    .repair-brands-container .swiper-slide .swiper__item_hp {
      background: no-repeat 16px center url(./static/hp.svg); }
    .repair-brands-container .swiper-slide .swiper__item_acer {
      background: no-repeat 16px center url(./static/acer.svg); }
    .repair-brands-container .swiper-slide .swiper__item_sony {
      background: no-repeat 16px center url(./static/sony.svg); }

.swiper-look-more {
  display: none; }
  @media only screen and (min-width: 768px) {
    .swiper-look-more {
      display: flex;
      width: 768px; } }
  .swiper-look-more_move {
    margin-bottom: 16px;
    margin-top: 14px;
    margin-left: 28px; }
  @media only screen and (min-width: 768px) {
    .swiper-look-more__btn {
      margin-left: 14px;
      font-family: TTLakes, sans-serif;
      line-height: 24px;
      font-size: 16px;
      font-weight: bold;
      border: 0;
      background-color: #f8f8f8;
      outline: none;
      cursor: pointer; } }

.repair-devices-container .swiper__link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #FF3E79;
  position: absolute;
  right: 18px;
  top: 100px; }
  .repair-devices-container .swiper__link::before, .repair-devices-container .swiper__link::after {
    content: "";
    width: 2px;
    height: 9px;
    background-color: #FF3E79;
    position: absolute;
    right: 18px; }
  .repair-devices-container .swiper__link::before {
    transform: rotate(55deg);
    top: 17px; }
  .repair-devices-container .swiper__link::after {
    transform: rotate(-55deg);
    top: 13px; }

.repair-brands-container .swiper__link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #FF3E79;
  position: absolute;
  right: 18px;
  top: 14px; }
  .repair-brands-container .swiper__link::before, .repair-brands-container .swiper__link::after {
    content: "";
    width: 2px;
    height: 9px;
    background-color: #FF3E79;
    position: absolute;
    right: 18px; }
  .repair-brands-container .swiper__link::before {
    transform: rotate(55deg);
    top: 17px; }
  .repair-brands-container .swiper__link::after {
    transform: rotate(-55deg);
    top: 13px; }

.price-list-container .swiper-slide {
  width: 260px;
  height: 200px;
  background: white;
  border-radius: 5px;
  margin-left: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative; }
  @media only screen and (min-width: 768px) {
    .price-list-container .swiper-slide {
      flex-direction: row;
      justify-content: flex-start;
      width: 720px;
      height: 64px;
      margin-left: 24px;
      border-radius: 0; } }
  @media only screen and (min-width: 1440px) {
    .price-list-container .swiper-slide {
      width: 1056px;
      margin-left: 32px; } }
  .price-list-container .swiper-slide:nth-child(4) {
    margin-right: 18px; }
    @media only screen and (min-width: 768px) {
      .price-list-container .swiper-slide:nth-child(4) {
        margin-right: 0; } }
  .price-list-container .swiper-slide:not(:last-child)::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% - 32px);
    margin-left: 16px;
    border-bottom: 1px solid #EAEAEA; }
  .price-list-container .swiper-slide .swiper__item {
    font-size: 14px;
    flex-wrap: wrap;
    margin-left: 16px; }
    @media only screen and (min-width: 768px) {
      .price-list-container .swiper-slide .swiper__item {
        margin-top: 23px; } }
    .price-list-container .swiper-slide .swiper__item_services {
      width: 228px; }
      @media only screen and (min-width: 768px) {
        .price-list-container .swiper-slide .swiper__item_services {
          flex-basis: 50%; } }
    .price-list-container .swiper-slide .swiper__item_price {
      flex-basis: 10%; }
      @media only screen and (min-width: 1440px) {
        .price-list-container .swiper-slide .swiper__item_price {
          flex-basis: 15%; } }
  .price-list-container .swiper-slide .swiper__button {
    width: 120px;
    height: 32px;
    border-radius: 32px;
    border: none;
    background: no-repeat 100px center url(./static/dropdown.svg) #FF3E79;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    left: 115px;
    top: 154px;
    cursor: pointer; }
    @media only screen and (min-width: 768px) {
      .price-list-container .swiper-slide .swiper__button {
        top: 13px;
        left: 575px; } }
    @media only screen and (min-width: 1440px) {
      .price-list-container .swiper-slide .swiper__button {
        left: 900px; } }

.swiper__item_services::before {
  content: "Ремонтные услуги";
  color: #7E7E82;
  display: block; }
  @media only screen and (min-width: 768px) {
    .swiper__item_services::before {
      display: none; } }

.swiper__item_price::before {
  content: "Цена";
  color: #7E7E82;
  display: block; }
  @media only screen and (min-width: 768px) {
    .swiper__item_price::before {
      display: none; } }

.swiper__item_time::before {
  content: "Срок";
  color: #7E7E82;
  display: block; }
  @media only screen and (min-width: 768px) {
    .swiper__item_time::before {
      display: none; } }

.repair-brands-container .swiper-blur {
  position: absolute;
  height: 74px;
  width: 18px;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  right: 0;
  background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
  z-index: 2; }

.repair-devices-container .swiper-blur {
  position: absolute;
  height: 160px;
  width: 18px;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  right: 0;
  background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
  z-index: 2; }

.price-list-container .swiper-blur {
  position: absolute;
  height: 200px;
  width: 18px;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  right: 0;
  background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
  z-index: 2; }

.warning {
  padding: 16px; }
  .warning__text {
    max-width: 421px;
    font-size: 14px; }

.commercial-offer {
  padding: 16px; }
  @media only screen and (min-width: 768px) {
    .commercial-offer {
      padding: 24px; } }
  @media only screen and (min-width: 1440px) {
    .commercial-offer {
      padding: 32px; } }
  .commercial-offer__link {
    font-size: 16px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    position: relative; }
    .commercial-offer__link::after {
      content: "";
      background-image: url(./static/Line.svg);
      position: absolute;
      width: 8px;
      height: 12px;
      top: 6px;
      margin-left: 10px; }

.swiper-services-title {
  display: none;
  font-size: 14px;
  padding-bottom: 16px;
  padding-top: 32px;
  padding-left: 24px;
  color: #7E7E82; }
  @media only screen and (min-width: 768px) {
    .swiper-services-title {
      display: flex;
      width: 720px;
      align-items: baseline; } }
  @media only screen and (min-width: 1440px) {
    .swiper-services-title {
      width: 1056px;
      padding-left: 32px; } }
  .swiper-services-title__item:first-child {
    flex-basis: 55%;
    margin-left: 16px; }
    @media only screen and (min-width: 1440px) {
      .swiper-services-title__item:first-child {
        flex-basis: 52%; } }
  .swiper-services-title__item:nth-child(2) {
    flex-basis: 10%; }
    @media only screen and (min-width: 1440px) {
      .swiper-services-title__item:nth-child(2) {
        flex-basis: 16%; } }

.feedback-container {
  width: 320px;
  min-height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateX(150%);
  transition: transform 1s ease-in-out;
  z-index: 3;
  background-color: white;
  display: flex; }
  @media only screen and (min-width: 1440px) {
    .feedback-container {
      width: 440px; } }
  .feedback-container__menu {
    margin-left: 16px;
    margin-top: 90px; }
    @media only screen and (min-width: 1440px) {
      .feedback-container__menu {
        margin-top: 40px; } }
  .feedback-container .feedback-menu {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: white;
    flex-wrap: wrap; }

.feedback-menu_show {
  transform: translateX(0); }

.feedback-menu__btn {
  background-color: #FF3E79;
  position: absolute;
  top: -70px; }
  @media only screen and (min-width: 1440px) {
    .feedback-menu__btn {
      top: -10px;
      right: 470px; } }
  .feedback-menu__btn::before, .feedback-menu__btn::after {
    left: 19px;
    top: 9px;
    position: absolute;
    background-color: white;
    width: 2px;
    height: 22px;
    content: ""; }
  .feedback-menu__btn::before {
    transform: rotate(45deg); }
  .feedback-menu__btn::after {
    transform: rotate(-45deg); }

.feedback-inputs__container {
  margin-bottom: 16px; }
  .feedback-inputs__container .feedback-inputs__item {
    height: 24px;
    width: 240px;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #EAEAEA;
    font-family: TTLakes, sans-serif; }
    @media only screen and (min-width: 1440px) {
      .feedback-inputs__container .feedback-inputs__item {
        width: 366px; } }
    .feedback-inputs__container .feedback-inputs__item_message {
      height: 118px;
      resize: none; }

.feedback-menu__title {
  font-family: TTLakes-Bold, sans-serif;
  line-height: 32px;
  font-size: 24px;
  position: relative;
  padding-bottom: 16px; }
  .feedback-menu__title::before {
    content: "";
    position: absolute;
    height: 32px;
    width: 2px;
    left: -16px;
    background-color: #41F6D7;
    border: 1px solid #41F6D7;
    border-top-right-radius: 22%;
    border-bottom-right-radius: 22%; }

.feedback-personal-data__text {
  color: #7E7E82;
  font-weight: 600;
  line-height: 16px; }
  .feedback-personal-data__text .feedback-personal-data__warning {
    color: #FF3E79; }

.feedback-inputs__btn {
  font-family: TTLakes, sans-serif;
  color: white;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: bold;
  width: 126px;
  height: 32px;
  border-radius: 15px;
  border: 0;
  padding: 4px 34px 4px 4px;
  background: no-repeat 105px center url(./static/dropdown.svg) #FF3E79;
  position: absolute;
  right: 32px;
  top: 503px;
  cursor: pointer; }

.request-call-container {
  width: 320px;
  min-height: 100%;
  display: flex;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateX(150%);
  transition: transform 1s ease-in-out;
  z-index: 3;
  background-color: white; }
  @media only screen and (min-width: 1440px) {
    .request-call-container {
      width: 440px; } }
  .request-call-container__menu {
    margin-left: 16px;
    margin-top: 90px; }
    @media only screen and (min-width: 1440px) {
      .request-call-container__menu {
        margin-top: 40px; } }
  .request-call-container .request-call-menu {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: white;
    flex-wrap: wrap; }

.request-call-menu__btn {
  background-color: #FF3E79;
  position: absolute;
  top: -70px; }
  @media only screen and (min-width: 1440px) {
    .request-call-menu__btn {
      top: -10px;
      right: 470px; } }
  .request-call-menu__btn::before, .request-call-menu__btn::after {
    left: 19px;
    top: 9px;
    position: absolute;
    background-color: white;
    width: 2px;
    height: 22px;
    content: ""; }
  .request-call-menu__btn::before {
    transform: rotate(45deg); }
  .request-call-menu__btn::after {
    transform: rotate(-45deg); }

.request-call-container_show {
  transform: translateX(0); }

.request-call-menu__title {
  font-family: TTLakes-Bold, sans-serif;
  line-height: 32px;
  font-size: 24px;
  position: relative;
  padding-bottom: 16px; }
  .request-call-menu__title::before {
    content: "";
    position: absolute;
    height: 32px;
    width: 2px;
    left: -16px;
    background-color: #41F6D7;
    border: 1px solid #41F6D7;
    border-top-right-radius: 22%;
    border-bottom-right-radius: 22%; }

.request-call-menu-inputs {
  margin-bottom: 16px; }
  .request-call-menu-inputs__item {
    height: 24px;
    width: 240px;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #EAEAEA;
    font-family: TTLakes, sans-serif; }
    @media only screen and (min-width: 1440px) {
      .request-call-menu-inputs__item {
        width: 366px; } }

.request-call-menu__submit {
  font-family: TTLakes, sans-serif;
  color: white;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: bold;
  width: 126px;
  height: 32px;
  border-radius: 15px;
  border: 0;
  padding: 4px 34px 4px 4px;
  background: no-repeat 105px center url(./static/dropdown.svg) #FF3E79;
  position: absolute;
  right: 32px;
  top: 200px;
  cursor: pointer; }


/*# sourceMappingURL=style.css.map*/