.price-list-container {
  .swiper-slide {
    width: 260px;
    height: 200px;
    background: $color-white;
    border-radius: 5px;
    margin-left: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    @media only screen and (min-width: $screen-tablet) {
      flex-direction: row;
      justify-content: flex-start;
      width: 720px;
      height: 64px;
      margin-left: 24px;
      border-radius: 0;
    }
    @media only screen and (min-width: $screen-desktop) {
      width: 1056px;
      margin-left: 32px;
    }
    &:nth-child(2) {
      @media only screen and (min-width: $screen-tablet) {

      }
    }
    &:nth-child(4) {
      margin-right: 18px;
      @media only screen and (min-width: $screen-tablet) {
        margin-right: 0;
      }
    }
    &:not(:last-child)::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: calc(100% - 32px);
      margin-left: 16px;
      border-bottom: 1px solid #EAEAEA;
    }
    .swiper__item {
      font-size: 14px;
      flex-wrap: wrap;
      margin-left: 16px;
      @media only screen and (min-width: $screen-tablet) {
        margin-top: 23px;
      }
      &_services {
        width: 228px;
        @media only screen and (min-width: $screen-tablet) {
          flex-basis: 50%;
        }
      }
      &_price {
        flex-basis: 10%;
        @media only screen and (min-width: $screen-desktop) {
          flex-basis: 15%;
        }
      }

    }
    .swiper__button {
      width: 120px;
      height: 32px;
      border-radius: 32px;
      border: none;
      background: no-repeat 100px center url("../img/dropdown.svg") #FF3E79;
      color: white;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: bold;
      position: absolute;
      left: 115px;
      top: 154px;
      cursor: pointer;
      @media only screen and (min-width: $screen-tablet) {
        top:13px;
        left: 575px;
      }
      @media only screen and (min-width: $screen-desktop) {
        left: 900px;
      }
    }
  }
}

.swiper__item_services::before {
  content: "Ремонтные услуги";
  color: $color-link;
  display: block;
  @media only screen and (min-width: $screen-tablet){
    display: none;
  }
}
.swiper__item_price::before {
  content: "Цена";
  color: $color-link;
  display: block;
  @media only screen and (min-width: $screen-tablet){
    display: none;
  }
}
.swiper__item_time::before {
  content:"Срок";
  color: $color-link;
  display: block;
  @media only screen and (min-width: $screen-tablet){
    display: none;
  }
}


