.container_hidden {

}

.body_unscrollable {
  overflow: hidden;
}

.mobile-menu-container {
  background-color: $color-white;
  min-height: 100%;
  width: 320px;
  .mobile-menu {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 100%;
    background-color: $color-white;
    box-shadow: 0 10px 15px 10px gray;
    position: fixed;
    left: 0;
    transform: translateX(-150%);
    transition: transform 1s ease-in-out;
    top: 0;
    overflow: auto;
    z-index: 2;
    @media screen and (min-width: $screen-desktop) {
      display: flex;
      position: static;
      transform: none;
      box-shadow: none;
      flex-direction: column;
      height: 100vh;

    }
    &_show {
      transform: translateX(0);
    }
  }
}
