
.header {
  display: flex;
  justify-content: space-between;

  @media screen and (min-width: $screen-desktop) {
    display: none;
  }
}
.header-wrapper {
  display: flex;
  background: $color-white;
  align-items: center;
  flex-basis: $size-100;
  padding-bottom: 16px;
  padding-top: 16px;
  @media only screen and (min-width: $screen-tablet) {
    justify-content: space-between;
  }
}
